body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: red;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: red;
}

#teste {
    font-size: 14px;
    color: red;
}