<style>
    @page {
        .header {
            margin: 0;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    .body {
        font-family: Verdana, Arial, sans-serif;
        font-size: 13px;
        margin-left: 50px;
        margin-right: 30px;
        text-align: justify;
        line-height: 1.3;
        word-spacing: 2px;
    }

    .conteudo_tab {
        font-size: 12px;
        margin: 2px;
    }

    .footer_pag {
        font-weight: bold;
        margin-bottom: -5px;
        margin-top: -5px;
        font-weight: normal;
        font-size: 11px;
        font-family: Trebuchet MS;
    }

    hr {
        margin-bottom: 0px;
        margin-top: -2px;
        border: 1px solid #6e2585;
        border-bottom-width: 1px;
    }
</style>

<div class="header">
    <img style=" margin-bottom: 20px; max-width: 140px;" src="{{ IMAGE }}" />
</div>

<div class="body">

    <!-- <img style="max-width: 150px;" src="{{ IMAGE }}" /> -->

    <div style="background-color: gray; padding-bottom: 1px;">
        <h1
            style="font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px; text-align: center; color: white;">
            PARCERIA DE CURSOS PLATINUM</h1>
    </div>
    <p>Prezado(a) doutor(a),</p>
    <p style="text-indent: 50px; ">Nosso propósito é melhorar a qualidade de vida dos pacientes oferecendo um excelente
        desempenho de nossos produtos que possuem um histórico comprovado de sucesso clínico e a satisfação
        de milhares de profissionais e pacientes no Brasil e no mundo. O objetivo deste acordo é oferecer uma
        parceria simplificada para o seu curso e com vantagens significativas aos nossos parceiros, onde
        podemos trabalhar juntos para atingir e superar seus objetivos. Com isso, temos a opção abaixo para
        oferecer aos seus cursos:</p>
    <div style="border: 1.5px solid black; word-spacing: 0px;">
        <div>
            <h1
                style="background-color: #a6a6a6; font-size: 8px; text-align: center; padding-top: 13px; border-bottom: 1.5px solid black; font-size: 9px; margin-top: auto; margin-bottom: 0; vertical-align: bottom;">
                Consumo Anual: + de 150 Implantes ou faturamento acima de R$ 100.000,00
            </h1>
        </div>
        <p class="conteudo_tab" style=" padding-top: 10px; "> Implantes e Componentes 35% de desconto </p>
        <p class="conteudo_tab"> Biomaterial 35% de desconto</p>
        <p class="conteudo_tab"> Yller 20% de desconto</p>
        <p class="conteudo_tab"> 50% para troca das brocas/ instrumentais extras;</p>
        <p class="conteudo_tab"> Jalecos ou Pijamas cirúrgicos para a turma com duração superior a 10
            meses;</p>
        <p class="conteudo_tab"> 2 aulas com HandsOn;</p>
        <p class="conteudo_tab"> Pastas de boas-vindas;</p>
        <p class="conteudo_tab"> Troca de 5 brocas dos kits cirúrgicos em comodato (1 vez ao ano);</p>
        <p class="conteudo_tab" style=" padding-bottom: 25px;"> Vale presente para os alunos no final do curso,
            mediante conversão de 70% da turma (1 implante a escolher
            TL/BLT);</p>
    </div>
    <p style="margin-top: 25px;">Os benefícios acima são válidos para a Instituição e para o Coordenador do curso e
        serão vigentes pelo período 24
        meses.</p>
    <p>Para até 5 professores da sua turma e para os alunos matriculados, ofereceremos o desconto de 25% em implantes,
        componentes e biomateriais durante o período do curso.</p>
    <p>Todos os benefícios da parceria somente entrarão em vigor com a efetivação do cadastro das turmas vigentes e
        listagem de alunos/professores na Plataforma de Cursos parceiros disponibilizada pelo Grupo Straumann. Esse
        cadastro é de responsabilidade do curso parceiro e após a efetivação e assinatura do Acordo, haverá o prazo
        máximo de 60 (sessenta) dias para realização, após este prazo caso o cadastro não tenha sido efetivado, o acordo
        automaticamente perderá sua validade.</p>
    <p style="font-weight: bold;">Com a finalidade de cadastrar na Plataforma de Cursos suas turmas vigentes e conceder
        todos os benefícios
        acordados na parceira, necessitamos dos seguintes dados pessoais de cada participante do curso: Nome completo,
        E-mail e CPF. Estes dados serão utilizados com objetivo de liberar os benefícios aos membros da turma. Ficará à
        critério de cada um realizar seu cadastro completo para compras diretamente no grupo Straumann enviando sua
        documentação pessoal.</p>
    <p style="margin-bottom: 0;">Haverá o acompanhamento do consumo da turma na metade da vigência, caso necessário,
        novas condições podem ser
        adequadas incluindo a troca do acordo atual para outra categoria. Para cálculo do consumo do curso são
        considerados as quantidades e valores consumidos pela instituição, coordenador, professores e alunos.</p>
    <hr>
    <p class="footer_pag" style="color:#a6a6a6">
        Rua Benjamin Lins, 742</p>
    <p class="footer_pag" style="color:#a6a6a6">
        Curitiba | Paraná | BR | CEP 80420-100</p>
    <p class="footer_pag" style="color:#a6a6a6">
        Tel. +55 41 2169-1000</p>
    <p class="footer_pag" style="color:#6e2585">
        neodent.com.br</p>
    <br>
</div>
<div class="header">
    <img style=" margin-bottom: 20px; max-width: 140px;" src="{{ IMAGE }}" />
</div>
<div class="body">

    <p>Agendamentos de empréstimo de materiais para hands-on devem ser feitos com 30 dias de antecedência e quando for
        necessário o agendamento de speaker será necessário prazo de 60 dias de antecedência. O convite e pagamento ao
        speaker será feito pelo Grupo Straumann visando sempre o treinamento de produtos e técnicas do Grupo Straumann
        para os alunos.</p>
    <p>O material de handson será enviado sem custo porém a devolução é de responsabilidade do cliente, que deverá
        devolver da mesma forma como enviado. Devolução deve ser imediata após o uso e qualquer avaria, falta de
        material ou não devolução é de responsabilidade do cliente e poderá acarretar em custos adicionais.</p>
    <p>Disponibilizamos kits cirúrgicos e protéticos em caráter de comodato para utilização em clínica do curso, quando
        necessário, e poderão ser enviados somente após o cadastramento da turma.</p>
    <div style="border: 1.5px solid black;">
        <h1
            style="margin: 0; padding: 6px; background-color: #a6a6a6; font-size: 14px; text-align: center; border-bottom: 1.5px solid black;">
            OBSERVAÇÕES
        </h1>
        <p style="padding: 35px;"></p>
    </div>
    <p>Confiamos que nossa proposta atendará às suas necessidades e estamos a sua disposição para qualquer
        esclarecimento.</p>
    <p>Atenciosamente.</p>
    <p style="font-weight: bold">JJGC INDÚSTRIA E COMÉRCIO DE MATERIAIS DENTÁRIOS S.A</p>
    <p>Consultor: ____________________________________ Assinatura: _____________________________</p>
    <p>Supervisor: ___________________________________ Assinatura: _____________________________</p>
    <br>
    <br>
    <p>Data de Aceite: __________________________</p>
    <p>Instituição: ________________________________________________________________________</p>
    <p>CNPJ ou CÓDIGO: ____________________________________</p>
    <p>Coordenador: ______________________________________________________________________</p>
    <p>CPF/CNPJ ou CÓDIGO: ___________________________</p>
    <br>
    <p>Acordo será assinado por: ( ) Coordenador &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( ) Instituição</p>
    <p>Assinatura do Responsável: _________________________________________________</p>
    <hr style="margin-top: 30px;">
    <p class="footer_pag" style="color:#a6a6a6">
        Rua Benjamin Lins, 742</p>
    <p class="footer_pag" style="color:#a6a6a6">
        Curitiba | Paraná | BR | CEP 80420-100</p>
    <p class="footer_pag" style="color:#a6a6a6">
        Tel. +55 41 2169-1000</p>
    <p class="footer_pag" style="color:#6e2585">
        neodent.com.br</p>
</div>